.info-panel {
    width: 320px;  
    padding:10px;
    background-color: #1c1f2a;
    color: #fff;
    border-radius: 10px;
    position: fixed; 
    top: 58%; 
    right: 1%; 
    transform: translateY(-50%); 
    box-sizing: border-box;
    overflow-y: auto; 
    outline: 5px solid transparent;
    outline-offset: -5px;
    background-clip: padding-box;
    animation: moveOutline 3s linear infinite;
  }
  
  @keyframes moveOutline {
    0% {
      box-shadow: 0 0 10px 5px red, 0 0 20px 10px yellow, 0 0 30px 15px cyan;
    }
    25% {
      box-shadow: 0 0 10px 5px yellow, 0 0 20px 10px cyan, 0 0 30px 15px green;
    }
    50% {
      box-shadow: 0 0 10px 5px cyan, 0 0 20px 10px green, 0 0 30px 15px blue;
    }
    75% {
      box-shadow: 0 0 10px 5px green, 0 0 20px 10px blue, 0 0 30px 15px violet;
    }
    100% {
      box-shadow: 0 0 10px 5px violet, 0 0 20px 10px red, 0 0 30px 15px yellow;
    }
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .red-line {
    height: 3px;
    background-color: #ff1744;
    margin-bottom: 10px;
  }
  
  .settings-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    color: cyan;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  ul li img {
    margin-right:11px;
    width: 20px;
    height: 20px;
  }
  
  .info-panel::-webkit-scrollbar {
    width: 6px;
  }
  
  .info-panel::-webkit-scrollbar-thumb {
    background: #3e4451;
    border-radius: 10px;
  }
  
  .info-panel::-webkit-scrollbar-thumb:hover {
    background: #575c6a;
  }
  