.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #171724;
    border-top: 10px solid rgb(0, 255, 30); 
  }
  
  .navbar .logo {
    color: #aecb08;
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    color: #e7453c;
  }
  